dfs.py
example.py
file.py
helper.py
matrix.py
main.spec
image.png
__pycache__
build/
dist/
matrix3.py
.vscode
component2.py
network.py
netlist.py
solver.py
main2.py
laplace.py
manim.py
matrix2.py
matrix_v3.py
copy
